.history {
    margin: 2rem 0;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.history-item p {
    margin: 0;
    font-size: 1rem;
}

.history-item p:first-child {
    flex-grow: 1;
    color: #333;
    font-weight: 500;
}

.history-item p:last-child {
    font-weight: 700;
}
