.button {
    outline: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

/* Customizable styles */
.button {
    /* background-color: var(--bg-color, #ffffff); */
    background-color: rgb(10, 132, 107);
    padding: var(--button-padding, 10px);
    border-radius: var(--border-radius, 5px);
    color: var(--button-color, #000000);
}
